
@import url('./main.css');
@import url('./head.css');
@import url('./foot.css');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}









